
    body{
      margin: 0px;
      font-family:"Trebuchet MS",  sans-serif;
      font-weight: 300; 
      background-size: cover;
      overflow: hidden;

    }

  .draggable { 
    flex: 1;    
    float: left;  
    background-size: 100% 100%;
    position: relative;
   /* box-shadow: inset 0px 4px 9px rgba(255,255,255, 0.8); */
    font-size: 1.2em; cursor: pointer;
    line-height: 14px;
    font-style: italic;
    color: #224900; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }



  .droppable { 
    float: left;  
    /*
    border: 1px solid rgba(255,255,255, 0.3);  
    background: rgba(0,0,0, 0.6); 
    font-size: 3em; color:rgba(255,255,255, 0.4); 
   
    text-shadow: 0px -1px 0px 
    rgba(0,0,0,0.8);  */
  }

  .titulo{ 
    flex: 2;   
    float: left; 
    color: white; 
    font-weight: 300; 
    font-size: 0.96em;
    font-style: italic;
    padding: 15px;
    border-radius: 12px;
    border: 1px orange solid;
    display: flex;
    align-items: center;
    margin: 5px;

  }
  .ui-state-highlight{ background-color: red; }
  .ui-state-highlight2{ background-color: orange; }
  .draggable, .droppable {  
    padding: 5px;
    margin: 6px;
    height: 179px;
    border-radius: 6px;
    width: 232px;
  }

  /*.droppable{ box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.8); }*/
  .columna{display: flex; z-index: 3;}
  .respuestaCorrecta{ background-color:  olivedrab;  color: white; }
  .respuestaIncorrecta{ background-color: #ff3d2e;  color: white; }
  .respuestaPosible{ background-color:  darkgoldenrod;  color: white; }
  .ubicaciones{position: absolute; bottom: 100px; padding: 10px; color: white; font-size: 0.9em; border-top:1px dotted rgba(255,255,255,0.3); border-bottom:1px dotted rgba(255,255,255,0.3);}


#tit{ padding: 157px 0px 0px 42px; }
#instruccion{ padding: 30px 0px 0px 42px; }











    .hover{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    z-index: 100;
    display: flex;
    align-content: center;  
    justify-content: center;
    display: none;
  }

  .pop{
    width: 500px;
    padding: 30px;
    border-radius: 40px;  
  
  display: flex;
  align-self: center;
  }



  .cerrar{
    padding: 20px 25px;
    border-radius: 40px;
    background-color: yellowgreen;
    right: -22px;
    top: -24px;
    position: absolute;
    display: inline-table;
    cursor: pointer;
    transition: all 0.2s;
  }




  .cerrar:hover{
    background-color: green;
    transition: all 0.2s;
  }


  #bien{
    
    background-color: #85bd58;
    color: white;
    display: none;
    margin: 200px auto;
  }
  #mal{
    
    background-color: #e1683e;
    color: white;
    display: none;
    margin: 200px auto;
  }



    #bocadillo{
    position: absolute;
    top: 123px;
    left: 80px;
    z-index: 60;
  }

  #triggerBocadillo{
    cursor: pointer;
    width: 300px;
    height: 450px;
    position: absolute;
    top: 250px;
    z-index: 60;
  }


  #bbt01{
background-color:
red;

width: 300px;

height: 28px;

position: absolute;

z-index: 50;

left: 437px;

top: 202px;
  }
  #bbt02{
background-color:
red;

width: 299px;

height: 113px;

position: absolute;

z-index: 50;

left: 324px;

top: 356px;
  }
  #bbt03{
background-color:
red;

width: 299px;

height: 64px;

position: absolute;

z-index: 50;

left: 324px;

top: 469px;
  }
  #bbt04{
background-color:
red;

width: 299px;

height: 104px;

position: absolute;

z-index: 50;

left: 324px;

top: 533px;
  }
  #bbt05{
background-color:
red;

width: 300px;

height: 70px;

position: absolute;

z-index: 50;

left: 906px;

top: 567px;
  }
  #bbt06{
background-color:
red;

width: 245px;

height: 38px;

position: absolute;

top: 657px;

left: 964px;

z-index: 50;
  }

  .btnss{
    border-radius: 10px;
    opacity: 0.01;
  }