body, html{
	margin: 0px;
	padding: 0px;
}

.celu{

width: 479px;

height: 502px;

padding: 20px;

border: 1px solid red;

border-radius: 10px;

margin: 20px;

overflow: hidden;

box-shadow: 0px 0px 10px rgba(0,0,0, 0.9) inset;

}

.elementos{
height: 415px;

overflow: hidden;

display: flex;
}

.flechas{
	display: flex;
	margin-top: 10px;
}

.btiz{
	flex: 1;
	cursor: pointer;
	z-index: 10;
	background-position: center left;
	background-repeat: no-repeat;
}

.btder{
	flex: 1;
	cursor: pointer;
	z-index: 10;
	background-position: center right;
	background-repeat: no-repeat;
}

.btder, .btiz{
	height: 85px;
	flex: 1;
	padding: 5px;

}

.mensajes{
	position: absolute;
}


	.contenidos{
position: absolute;

z-index: 5;

top: 44px;

display: flex;

width: 1207px;

padding: 0px 37px;
	}

	#iframee{ position: absolute; 
		border:none;
		width: 1280px;
		height: 800px;
		z-index: 0;
		 }	

	.contBtn{
		position: absolute;
		display: flex;
		left: 85px;
		width: 1165px;
		top: 207px;
	}

	.btn{
		cursor: pointer;

	}

	.btn:hover{
		opacity: 0.4;
	}

	#bocadillo{
		position: absolute;
		top: 123px;
		left: 100px;
		z-index: 10;
	}

	#triggerBocadillo{
		flex: 1;
		cursor: pointer;
		width: 500px;
		height: 500px;
	}
	#abrirPop{
		flex: 1;
		cursor: pointer;
		width: 500px;
		height: 500px;
	}