@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

body, html{
	height: 100%;
	margin: 0px;
}

body{
	font-family:'Abril Fatface', sans-serif;
	background-image: url(../imgs/background.jpg);
	background-size: cover;
}

header{
display: flow-root;
}

#atras{
	display: none;
}


.popIntro{
	position: fixed; width: 100%; height: 100%; background-color: rgba(0,0,0, 0.8); z-index: 600; display: none;
}
.popIntro h1{
	color: white; font-size: 3.2em; margin: 10px 0px;
}
.popIntro h2{
	margin: 0px; padding: 0px;
}

.popIntro .contIntro{
	width: 700px; height: 275px; margin: 0px auto; padding: 30px; background-image: url(../imgs/background.jpg); border-radius: 15px; background-size: cover; overflow: hidden;
}

.textIntro{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.5em;
	flex:1
}

.imgIntro{
	flex:1;
	text-align: center;
}

.itemsintro{
	display: flex !important; height: 300px;

}

.botArr{
	display: inline-block;

	font-size: 1.2em;

	background: blanchedalmond;

	border-radius: 100px;

	padding: 10px 18px 11px;

	text-align: center;

	margin: 10px;

	float: right;

	cursor: pointer;

	transition: 0.3s all;
}

.btnCerrar{
	background: white;
	padding: 10px 20px;
	font-size: 2em;
	border-radius: 100px;
	position: absolute;
	right: -30px;
	z-index: 200;
	top: -30px;
	cursor: pointer;
	transition: all 0.2s;

}

.btnCerrar:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
	transition: all 0.2s;
}

.btnCerrar2{
	background: white;
	padding: 10px 20px;
	font-size: 2em;
	border-radius: 100px;
	position: absolute;
	z-index: 200;
	cursor: pointer;
	transition: all 0.2s;
	top:10px; right: 10px;
}

.btnCerrar2:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
	transition: all 0.2s;
}

.boton{
	width: 107px;
	height: 90px;
	margin: 0px 0px 3px -2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: contrast(1.3);
	transition: 0.2s all;
	opacity: 0;
}

.boton:hover{
	width: 107px;
	height: 90px;
	margin: 0px 0px 3px -2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(0) contrast(2)  !important;
	transition: 0.2s all;


}

.item02{ opacity:0; }
.item03{ opacity:0; }

.posicion{
	position: absolute;
	z-index: 700;
}

.btActivo{
	filter: grayscale(1) contrast(0.5);
	transition: 0.2s all;
}

.btActivo:hover{
	filter: grayscale(0) contrast(1);
	transition: 0.2s all;
}

.col{
	width: 100px;
	height: 650px;
	margin-right: -44px;
	display: inline-block;
}


section{
	padding-left: 45px;	width: 1090px; height: 666px;
	background-image: url(../imgs/bg.png); 
	background-position: 47px 0px;
	background-repeat: no-repeat;
}


footer{
	display: flex;
}




.btnInf{
	padding: 5px 15px;
	cursor: pointer;
	border: 1px solid blanchedalmond;
	border-radius: 100px;
	transition: all 0.2s;
	margin: 5px;
}

.btnInf:hover{
	background-color: blanchedalmond;
	transition: all 0.2s;
}


#todo{
	opacity: 0;
	margin: auto;
	width: 1100px;
}

/**/

#b1{
	height: 187px;
	margin-top: 278px;
}
#b44{
	height: 183px;
	position: absolute;
	width: 170px;
}
#b45{
	margin-top: 96px;
}

#b47{
	height: 183px;

}

#b50{
	margin-top: 189px;

}

#b58{
	height: 184px;

}

#b81{
	height: 183px;

}

#b84{
	height: 183px;

}

#b100{
	height: 187px;
	margin-top: 91px;

}
#b101{
	height: 181px;

}
#b102{
	height: 184px;

}

/*Contenido Popups*/

.bgPop{
	position: absolute;
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0, 0.8);*/
	z-index: 800;
	display: none;
	background: url(../imgs/background.jpg);
	overflow: hidden;

}

.contPop{
	width: 700px;
	height: 400px;
	z-index: 801;
	margin: 200px auto;
}

.contPopSup{
	display: flex !important;
}

.titulo{
font-size: 3.2em;
flex: 1;
line-height: 45px;
z-index: 2;
position: absolute;
width: 300px;

display: flex;
justify-content: center;
flex-direction: column;
min-height: 400px;

}

.titulo h2{
	padding: 0px;
	margin: 0px;
}
.titulo p{
	padding: 0px 0px 20px 0px;
	margin: 0px;
}

.imagen{
width: 400px !important;
height: 400px;
background-color: white;
display: inline-block;
text-align: center;
border-radius: 300px;
z-index: 1;
position: absolute;
right: 0px;
}

.puntaje{
	display: inline-block;
	font-size: 3em;
	background: gold;
	border-radius: 100px;
	padding: 40px 0px 0px 0px;
	position: absolute;
	right: -70px;
	text-align: center;
	width: 160px;
	height: 120px;
	z-index: 2;
	top:-50px;
}


.nombre-empresa{
	font-size: 2em;
	margin-top: -17px;
	position: absolute;
}
.nombre-empresa img{
	max-width: 180px;
	margin-top: 20px;
}

.puntaje-top{
	display: inline-block;
	font-size: 1.2em;
	background: gold;
	border-radius: 100px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin: 10px;
	float: right;
}

.btn-cerrar{
	display: inline-block;
	font-size: 1.2em;
	background: cadetblue;
	border-radius: 100px;
	padding: 10px 17px;
	text-align: center;
	margin: 10px;
	float: right;
	color: white;
	cursor: pointer;
	transition: 0.3s all;
}



.musica{
	display: inline-block;
	font-size: 1.2em;
	background: blanchedalmond;
	border-radius: 100px;
	padding: 12px 13px 7px;
	text-align: center;
	margin: 10px;
	float: right;
	cursor: pointer;
	transition: 0.3s all;
}

.btn-cerrar:hover{
	opacity: 0.7;
	transition: 0.3s all;
}

.botonaceptar{
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding: 10px 16px;
	cursor: pointer;
	margin:10px 15px;
	transition: 0.2s all;
	z-index: 3;
}
.botondenegar{
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding: 10px 16px;
	cursor: pointer;
	margin:10px 15px;
	transition: 0.2s all;
	z-index: 3;
}


.botonaceptar:hover, .botondenegar:hover {
	box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
}


.contenedor-botones{
text-align: center;
z-index: 4;
position: absolute;
width: 100%;
bottom: -58px;
}


/**/

#iniciar{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background-image: url(../imgs/init/bg-init.jpg);
	background-size: cover;
	overflow: hidden;
}

#contenedor-init{
	margin: 50px calc(50% - 350px);
	width: 100px;
}

.bg-personaje{
 width: 687px;
 height: 703px;
 background-image: url(../imgs/init/bg-personaje.png);
    

  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
  position: absolute;
}


.bg-personaje2{
 width: 687px;
 height: 703px;
 background-image: url(../imgs/init/bg-personaje.png);
    

  -webkit-animation: rotating 40s linear infinite;
  -moz-animation: rotating 40s linear infinite;
  -ms-animation: rotating 40s linear infinite;
  -o-animation: rotating 40s linear infinite;
  animation: rotating 40s linear infinite;

 	right: -142px;
	top: -153px;
  position: absolute;
}

#personaje-init{
 width: 349px;
 height: 616px;
 background-image: url(../imgs/init/personaje.png);
 position: relative;
 top:-16px;
 left: 167px;
}

#txt-init{
 width: 517px;
 height: 321px;
 background-image: url(../imgs/init/txt.png);
 position: absolute;
 top:260px;
 left:-80px;

}

#btn-init{
 width: 210px;
 height: 136px;
 background-image: url(../imgs/init/btn.png);
 position: absolute;
 top:100px;
 left: 330px;
 cursor: pointer;
}


#btn-init:hover{
 opacity: 0.5;
 transition: all 0.2s;
}


.personaje-tablero{
	
	 width:100px; 
	 height:100px;
	 z-index: 100;
}


.dado{
	display: inline-block;
	font-size: 1.2em;
	background: aquamarine;
	border-radius: 100px;
	padding: 40px 20px 0px 20px;
	position: absolute;
	right: -70px;
	text-align: center;
	width: 120px;
	height: 120px;
	top: 256px;
	z-index: 5;
}

.dado strong {
	font-size: 2em;
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
