
	html, body{
		width: 100%;
		height: 100%;
	}
	body{
		margin: 0px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}	

	div{
		opacity: 0;
	}


	.contain{
		width: 1280px;
		height: 720px;
		padding-top: 110px;
		margin: 0px auto;
		
	}

	.img{
	}

	.tit{
		text-align: center;
		padding: 20px;
	}

	.contenedor-cont{
		display: flex;
		width: 960px;
		margin: 0px auto;
	}

	.preguntas{
		text-align: center;
		flex: 1;
	}

	.preguntas div{
		transition: all 0.2s;
		border-radius: 14px;
		cursor: pointer;
		padding: 0px;
		max-height: 72px;
		width: 470px;
		height: 74px;
		margin-bottom: 10px;
	}

	.preguntas div:hover{
		background-color: #ff6f4d;
		transition: all 0.2s;
	}

	.hover{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0,0,0, 0.8);
		z-index: 10;
		display: flex;
		align-content: center;  
 		justify-content: center;
 		display: none;
	}

	.pop{
		width: 500px;
		padding: 30px;
		border-radius: 40px;  
	
  display: flex;
  align-self: center;
	}



	.cerrar{
		padding: 20px 25px;
		border-radius: 40px;
		background-color: yellowgreen;
		right: -22px;
		top: -24px;
		position: absolute;
		display: inline-table;
		cursor: pointer;
		transition: all 0.2s;
	}




	.cerrar:hover{
		background-color: green;
		transition: all 0.2s;
	}


	#bien{
		
		background-color: #85bd58;
		color: white;
		display: none;
		margin: 200px auto;
	}
	#mal{
		
		background-color: #e1683e;
		color: white;
		display: none;
		margin: 200px auto;
	}

	.seleccionado{
		background-color:#ff6f4d;
	}