
	html, body{
		width: 100%;
		height: 100%;
	}
	body{
		margin: 0px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}	


	.contain{
		width: 1211px;
		height: 720px;
		padding-top: 127px;
		margin: 0px auto;
	}

	.img{
	}

	.tit{
		text-align: center;
		padding: 20px;
	}

	.contenedor-cont{
		display: flex;
		padding: 0px 42px;
	}

	.preguntas{
		text-align: center;
		padding: 20px 50px;
	}

	.preguntas div{
		transition: all 0.2s;
		border-radius: 14px;
		cursor: pointer;
		margin: 8px 0px;
		padding: 0px;
		max-height: 72px;
	}

	.preguntas div:hover{
		background-color: darkturquoise;
		transition: all 0.2s;
	}

	.hover{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0,0,0, 0.8);
		z-index: 10;
		display: flex;
		align-content: center;  
 		justify-content: center;
 		display: none;
	}

	.pop{
		width: 500px;
		padding: 30px;
		border-radius: 40px;  
	
  display: flex;
  align-self: center;
	}



	.cerrar{
		padding: 20px 25px;
		border-radius: 40px;
		background-color: yellowgreen;
		right: -22px;
		top: -24px;
		position: absolute;
		display: inline-table;
		cursor: pointer;
		transition: all 0.2s;
	}




	.cerrar:hover{
		background-color: green;
		transition: all 0.2s;
	}


	#bien{
		
		background-color: #85bd58;
		color: white;
		display: none;
		margin: 200px auto;
	}
	#mal{
		
		background-color: #e1683e;
		color: white;
		display: none;
		margin: 200px auto;
	}