body, html{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

	.contenidos{
		position: absolute;
		z-index: 5;
	}

	#iframee{ position: absolute; 
		border:none;
		width: 1280px;
		height: 800px;
		z-index: 0;
		 }

	#pop{ position: absolute; 
		border:none;
		border-radius: 30px;
		width: 1280px;
		height: 650px;
		z-index: 10;
		top: -800px;
		box-shadow: 0px 0px 7px rgba(0,0,0, 0.7);
		 }	



	#popIframe{
		border:none;
		border-radius: 30px;
		width: 1280px;
		height: 650px;
		z-index: 10;
		top: -800px;
		 }	

	.contBtn{
		position: absolute;
		display: flex;
		left: 85px;
		width: 1165px;
		top: 207px;
	}

	.btn{
		cursor: pointer;

	}

	.btn:hover{
		opacity: 0.4;
	}

	#bocadillo{
		position: absolute;
		top: 123px;
		left: 100px;
		z-index: 10;
	}

	#triggerBocadillo{
		flex: 1;
		cursor: pointer;
		width: 500px;
		height: 500px;
	}
	#abrirPop{
		flex: 1;
		cursor: pointer;
		width: 500px;
		height: 500px;
	}


	.cerrar{
cursor: pointer;
background-color:
red;
padding: 20px 24px;
border-radius: 100px;
position: absolute;
color: white;
right: 20px;
top: 40px;

	}