
	html, body{
		width: 100%;
		height: 100%;
	}
	body{
		margin: 0px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}	


	.contain{
		width: 1280px;
		height: 720px;
		padding-top: 127px;
		margin: 0px;
		position: absolute;
	}

#iframe{
	position: absolute;
	
}

	.img{
	}

	.tit{
		text-align: center;
		padding: 20px;
	}

	.contenedor-cont{
		
		display: flex;

		padding: 0px 210px;

		top: 423px;

		position: absolute;
	}

	.preguntas{
		text-align: center;
		padding: 20px 50px;
		display: flex;
	}

	.preguntas div{
		transition: all 0.2s;

		border-radius: 14px;

		cursor: pointer;

		margin: 12px;

		padding: 20px;

		max-height: 72px;

		background-color: orangered;

		color: white;

		font-style: italic;

		border: 2px solid white;
	}

	.preguntas div:hover{
		background-color: darkturquoise;
		transition: all 0.2s;
	}

	.hover{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0,0,0, 0.8);
		z-index: 10;
		display: flex;
		align-content: center;  
 		justify-content: center;
 		display: none;
	}

	.pop{
		width: 650px;
		/*! padding: 30px; */
		border-radius: 40px;  
	
  display: flex;
  align-self: center;
	}


	.pop ul{
		padding: 20px 20px 20px 60px;
	} 

	.pop h1{
		
	color: #004F91;
	background: white;
	padding: 10px 20px;
	border-radius: 10px 10px 0px 0px;
	}


	.cerrar{
		padding: 20px 25px;
		border-radius: 40px;
		background-color: yellowgreen;
		right: -22px;
		top: -24px;
		position: absolute;
		display: inline-table;
		cursor: pointer;
		transition: all 0.2s;
	}




	.cerrar:hover{
		background-color: green;
		transition: all 0.2s;
	}


	#bien{
		
		background-color: #004F91;
		color: white;
		display: none;
		margin: 200px auto;
	}
	#mal{
		
		background-color: #004F91;
		color: white;
		display: none;
		margin: 200px auto;
	}