body, html{
	margin: 0px;
	padding: 0px;
}

	.contenidos{
		position: absolute;
		z-index: 5;
		top: 300px;
		left: 290px;
	}

	#iframee{ position: absolute; 
		border:none;
		width: 1280px;
		height: 800px;
		z-index: 0;
		 }	

	.contBtn{
		display: flex;
		left: 85px;
		width: 1165px;
		top: 207px;
	}

	.btn{
		cursor: pointer;

	}

	.btn:hover{
		opacity: 0.4;
	}

	#bocadillo{
		position: absolute;
		top: 123px;
		left: 837px;
		z-index: 10;
	}

	#triggerBocadillo{
		flex: 1;
		cursor: pointer;
	}













	.hover{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0,0,0, 0.9);
		z-index: 10;
		display: flex;
		align-content: center;  
 		justify-content: center;
 		display: none;
	}

	.pop{
		width: 1000px;
		padding: 30px;
		border-radius: 40px;  
	
  display: none;
  align-self: center;
  margin: 100px auto 0px;
	}



	.cerrar{
		padding: 20px 25px;
		border-radius: 40px;
		background-color: yellowgreen;
		right: -22px;
		top: -24px;
		position: absolute;
		display: inline-table;
		cursor: pointer;
		transition: all 0.2s;
	}




	.cerrar:hover{
		background-color: green;
		transition: all 0.2s;
	}


	#bien{
		color: white;
		display: none;
		margin: 100px auto;
	}
	
	#mal{
		color: white;
		display: none;
		margin: 100px auto;
	}