
@font-face {
	font-family: "ProximaNova-Regular";
	src: url("../fonts/ProximaNova-Regular.otf");
}

@font-face {
	font-family: "ProximaNovaExtrabold";
	src: url("../fonts/Proxima Nova Extrabold.otf");
}

@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/Proxima Nova Bold.otf");
}


@font-face {
	font-family: "ProximaNova-Thin";
	src: url("../fonts/Proxima Nova Thin.otf");
}



html, body{
	height: 100%;
}

body{
	background-image: url(../imgs/bg.jpg);
	background-size: cover;
	font-family: "ProximaNova-Regular";
	overflow: hidden;
}

#iframe{
	position: absolute;
	z-index: 29;
	border:none;
	overflow: hidden;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container{
	margin: 0px auto;
	width: 1280px;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
	position: absolute;
	border-radius: 20px;
}


#numDiap{
	font-size: 17px;

	color: #004F91;

	padding: 11px 20px;

	text-align: justify;

	line-height: 16px;
}


#numDiap b{
	color: #f76841;
}


#logo{
	background-image: url(../imgs/logo.png);
	width: 389px;
	height: 101px;
	position: inherit;
	z-index: 30;
	background-repeat: no-repeat;
	top: 27px;
	left: 19px;
}

#nombre-curso{
	background-image: url(../imgs/titulo.png);
	width: 331px;
	height: 101px;
	position: absolute;
	z-index: 30;
	margin-left: 500px;
	background-size: cover;
}

#subtitulo{
	background-image: url(../imgs/subtitulo.png);
	width: 974px;
	height: 84px;
	position: absolute;
	z-index: 29;

	margin-left: 292px;
	/*! background-size: cover; */
	display: flex;
	align-items: center;
	margin-top: 27px;
	background-repeat: no-repeat;
}


#textosSubtitulo{
	padding: 0px 85px 0px 150px;
	color: white;
	font-size: 2.2em;
	line-height: 25px;
	text-transform:  uppercase;
	font-family: "ProximaNova-Thin";
}

#btn-home{
	background-image: url(../imgs/home.png);
	width: 109px;
	height: 138px;
	position: absolute;
	z-index: 30;
	margin-left: 1171px;
	margin-top: 0px;
}


#contenidos{
	height: 800px;
	background-image: url(../imgs/fondocarga.jpg);
	background-size: cover;

}

.textos{
	border-radius: 30px;
	background-color: white;
	box-shadow: 0px 0px 18px rgba(0,0,0, 0.2);
	position: relative;
	z-index: 30;
	height: 130px;
	/*! width: 1000px; */
	bottom: -400px;
	left: 0px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#arleft{
	background-image: url(../imgs/ar-left.png);
	width: 100px;
	height: 66px;
	background-repeat: no-repeat;
	background-size: contain;
}

#arright{
	background-image: url(../imgs/ar-right.png);
	width: 100px;
	height: 66px;
	background-repeat: no-repeat;
	background-size: contain;
}


#contenedor-botonera{
	margin-top: -74px;
	margin-left: 0px;
	display: flex;
	z-index: 30;
	position: absolute;
	height: 0px;
	width: 100%;
}

.botonera{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	margin-left: -21px;
}


.btns{
	transition: all 0.2s;
}


.btns:hover{
	opacity: 1;
	filter: brightness(1.3);
	transition: all 0.2s;
}


#bgContenidos{
	z-index: 0;
	position: absolute;
}

#bgContenidos2{
	z-index: 0;
	position: absolute;
}

.bgImgContenidos{
	position: absolute;
}