
	html, body{
		width: 100%;
		height: 100%;
	}
	body{
		margin: 0px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		 background-image: url(../imgs/37.jpg); 
		 background-repeat: no-repeat;
	}	

	div{
		opacity: 0;
	}

	.contain{
		width: 1280px;
		height: 720px;
		padding-top: 110px;
		background-image: url(../imgs/37.png);
	}

	.lista{
		height: 55px;
		overflow: hidden;
		border-radius: 14px;
		transition: all 0.2s;
		width: 275px;
		padding-top: 15px;
		box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
		padding-right: -5px;
		background-image: url(../imgs/arrow.png);
		background-repeat: no-repeat;
		background-position: 231px 33px;
	}

	.l1{
		position: absolute;
		z-index: 14;
		background-color: #0068AF !important;
		top: 220px;
		left: 850px;
	}
	.l2{
		position: absolute;
		z-index: 13;
		background-color: #0068AF !important;
		top: 303px;
		left: 850px;
	}
	.l3{
		position: absolute;
		z-index: 12;
		background-color: #0068AF !important;
		top: 385px;
		left: 850px;
	}
	.l4{
		position: absolute;
		z-index: 11;
		background-color: #0068AF !important;
		top: 468px;
		left: 850px;
	}

	.img{
	}

	.tit{
		text-align: center;
		padding: 15px;
	}

	.contenedor-cont{
		display: flex;
		width: 960px;
		margin: 0px auto;
	}

	.preguntas{
		text-align: center;
		flex: 1;
	}

	.p{
		transition: all 0.2s;
		border-radius: 14px;
		cursor: pointer;
		padding: 9px 33px;
		max-height: 41px;
		/*! width: 200px; */
		margin-bottom: 2px;

		text-align: center;
		color: white;
		font-size: 20px;
		font-style: italic;
	}

	.p:hover{
		background-color: #ff6f4d;
		transition: all 0.2s;
	}

	.hover{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0,0,0, 0.8);
		z-index: 100;
 		justify-content: center;
 		display: none;
	}

	.pop{
		width: 500px;
		padding: 30px;
		border-radius: 40px;  
	
  display: flex;
  align-self: center;
	}



	.cerrar{
		padding: 20px 25px;
		border-radius: 40px;
		background-color: yellowgreen;
		right: -22px;
		top: -24px;
		position: absolute;
		display: inline-table;
		cursor: pointer;
		transition: all 0.2s;
	}




	.cerrar:hover{
		background-color: green;
		transition: all 0.2s;
	}


	#bien{
		
		background-color: #85bd58;
		color: white;
		display: none;
		margin: 200px auto;
	}
	#mal{
		
		background-color: #e1683e;
		color: white;
		display: none;
		margin: 200px auto;
	}

	.seleccionado{
		background-color:#ff6f4d;
		opacity: 1 !important;
		display: block !important;
	}


	.altura{
		height: 80px;
	}