html, body{
	height: 100%;
}

body{
	background-image: url(../imgs/bg.jpg);
	background-size: cover;
	font-family: Calibri, Candara, Segoe UI, Arial, sans-serif;
	overflow: hidden;
}

#iframe{
	position: absolute;
	z-index: 29;
	border:none;
	overflow: hidden;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container{
	margin: 0px auto;
	width: 1280px;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgba(0,0,0, 0.2);
	position: absolute;
	border-radius: 20px;
}


#numDiap{
	font-size: 17px;

	color: #004F91;

	padding: 11px 20px;

	text-align: justify;

	line-height: 16px;
}


#numDiap b{
	color: #f76841;
}


#logo{
	background-image: url(../imgs/logo.png);
	width: 264px;
	height: 101px;
	position: inherit;
	z-index: 30;
}

#nombre-curso{
	background-image: url(../imgs/titulo.png);
	width: 331px;
	height: 101px;
	position: absolute;
	z-index: 30;
	margin-left: 500px;
	background-size: cover;
}

#subtitulo{
	background-image: url(../imgs/subtitulo.png);
	width: 678px;
	height: 101px;
	position: absolute;
	z-index: 29;

	margin-left: 600px;
	background-size: cover;
	display: flex;
	align-items: center;
}


#textosSubtitulo{
	padding: 0px 85px 0px 235px;
	color: white;
	font-style: italic;
	font-weight: bold;
	font-size: 27px;
	line-height: 25px;
}

#btn-home{
	background-image: url(../imgs/home.png);
	width: 68px;
	height: 69px;
	position: absolute;
	z-index: 30;
	margin-left: 1200px;
	margin-top: 20px;
}


#contenidos{
	height: 680px;
	background-image: url(../imgs/fondocarga.jpg);
	background-size: cover;

}

.textos{
	border-radius: 30px;
	background-color: white;
	box-shadow: 0px 0px 18px rgba(0,0,0, 0.2);
	position: relative;
	z-index: 30;
	height: 130px;
	width: 1000px;
	bottom: -400px;
	left: 0px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

#arleft{
	background-image: url(../imgs/ar-left.png);
	width: 116px;
	height: 116px;
}

#arright{
	background-image: url(../imgs/ar-right.png);
	width: 116px;
	height: 116px;
}


#contenedor-botonera{
	margin-top: -140px;
	margin-left: 10px;
	display: flex;
	z-index: 30;
	position: absolute;
	height: 0px;
}

.botonera{
	display: flex;
}


.btns{
	transition: all 0.2s;
}


.btns:hover{
	opacity: 1;
	filter: brightness(1.3);
	transition: all 0.2s;
}


#bgContenidos{
	z-index: 0;
	position: absolute;
}

#bgContenidos2{
	z-index: 0;
	position: absolute;
}

.bgImgContenidos{
	position: absolute;
}